<div class="container">
<h1>New Task</h1>
<%= simple_form_for @task do |f| %>
  <%= f.input :title, label: "Name the task" %>
  <%= f.input :details, label: "Describe the task" %>
  <%= f.input :completed, as: :boolean, checked_value: true, unchecked_value: false, label: "Did you complete the task?" %>
  <%= f.button :submit, class: 'btn btn-dark' %>
<% end %>
</div>
<div class="container">
<%= link_to "Back", tasks_path %>
</div>
